<section id="sideMenu">
    <div class="side-title">
        <img src="../assets/images/logo.svg" alt="">
        <h1>workflow</h1>
    </div>
    <div class="users">
        <div class="img-wrap">
            <img src="https://i.pravatar.cc/48" alt="" />
        </div>
        <div class="details">
            <div class="title">Jessy Schwarz</div>
            <div class="caption">@jessyschwarz</div>
        </div>
    </div>
    <div class="search-area">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search">
    </div>
    <nav>
        <a href="#" class="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        <a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My tasks</a>
        <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Recent</a>
    </nav>
    <div class="teams">
        <h3>TEAMS</h3>
        <p class="text"><i class="fa fa-circle fa-sm purple" aria-hidden="true"></i> <span> Engineering</span></p>
        <p class="text"><i class="fa fa-circle fa-sm mint"></i> <span> Human Resources</span></p>
        <p class="text"><i class="fa fa-circle fa-sm yellow"></i> <span> Customer Success</span></p>
    </div>
</section>

<header>
    <h2 class="section-title">Home</h2>
    <div class="header-area">
        <button class="max-button btn-secondary">Share</button>
        <button class="max-button btn-primary">Create</button>
    </div>
</header>
<section class="contents">
    <h3 style="margin-left: 25px;">PINNED PROJECTS</h3>
    <div class="cards">

        <div class="card">
            <h5 class="initials bg-pink">GA</h5>
            <p class="card-text">GraphQL Asteroid<br/><span class="">12 Members</span></p>
            <div class="dropdown">
                <a href="#" class="dropdown-btn"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="initials bg-purple">NB</h5>
            <p class="card-text">New Benefits<br/><span class="">8 Members</span></p>
            <div class="dropdown">
                <a href="#" class="dropdown-btn"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="initials bg-yellow">OE</h5>
            <p class="card-text">Onboarding<br/><span class="">14 Members</span></p>
            <div class="dropdown">
                <a href="#" class="dropdown-btn"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
        <div class="card">
            <h5 class="initials bg-mint">IA</h5>
            <p class="card-text">iOS App<br/><span class="">2 Members</span></p>
            <div class="dropdown">
                <a href="#" class="dropdown-btn"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
    </div>

    <div class="type-list titles border-bot">
        <ul>
            <li>
                <div class="mat-toolbar">
                    <div class="mat-toolbar-tools">
                        <div class="q-project">PROJECT</div>
                        <div class="q-members">MEMBERS</div>
                        <div class="q-last">LAST UPDATED</div>
                        <div class="q-edit"></div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="po-wo-invoices-list">
        <ul>
            <li *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
                <div class="mat-toolbar">
                    <div class="mat-toolbar-tools">
                        <div class="q-project">
                            <p class="text"><i class="fa fa-circle purple fa-sm" aria-hidden="true"></i> <span> Engineering</span></p>
                        </div>
                        <div class="q-members text">
                            <div class="avatar-container">
                                <div class="avatar-container-item"><img src="https://i.pravatar.cc/48" alt="" /></div>
                                <div class="avatar-container-item"><img src="https://i.pravatar.cc/58" alt="" /></div>
                                <div class="avatar-container-item"><img src="https://i.pravatar.cc/81" alt="" /></div>
                                <div class="avatar-container-item"><img src="https://i.pravatar.cc/18" alt="" /></div>
                                <div class="avatar-container-item"><img src="https://i.pravatar.cc/38" alt="" /></div>
                                <div class="avatar-container-more">+8</div>
                            </div>
                        </div>
                        <div class="q-last text">
                            March 17, 2020
                        </div>
                        <div class="q-edit text">
                            <span class="purple">Edit</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<router-outlet></router-outlet>